html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    width: 100%;
    background-color: white;
    padding-left: 30px;
    padding-right: 10px;
}

video {
    display: block;
    margin: auto;
}

/* starting menu template */
.starting {
    width: 100%;
    height: 600px;
    background-color: rgb(35, 35, 133);
    border: 15px solid white;
    padding-top: 260px;
    padding-left: 450px;
    padding-right: 470px;
    text-align: center;
    margin: auto;
}

/* starting menu for about us page */
.starting-aboutus {
    width: 100%;
    height: 600px;
    background-color: rgb(35, 35, 133);
    border: 15px solid white;
    padding-top: 260px;
    padding-left: 250px;
    text-align: center;
    margin: auto;
}

/* starting menu for filmmakers' statement page */
.starting-statement {
    width: 100%;
    height: 600px;
    background-color: rgb(35, 35, 133);
    border: 15px solid white;
    padding-top: 260px;
    padding-left: 290px;
    padding-right: 270px;
    text-align: center;
    margin: auto;
}

/* formatting for each itmem in starting menu list */
.starting-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

/* if cursor hovers change background color */
.starting-item:hover {
    background-color: rgb(215, 64, 40);
}

/* formatting for all headings on website */
.heading {
    text-align: center;
    line-height: 100px;
}

/* for all items made to be centered on website */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* website logo display setting */
.logo {
    display: inline-block;
}

/* website logo formatting */
.logo img {
    width: 135px;
    vertical-align: middle;
}

/* navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* disable bullet point list */
.navbar-links {
    display: flex;
    list-style: none;
}

/* formatting navbar text items */
.navbar-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: rgb(215, 64, 40);
}

/* if cursor hovers change background color */
.navbar-item:hover {
    background-color: rgb(215, 64, 40);
}

/* if cursor hovers change text color */
.navbar-item:hover a {
    color: white;
}

/* starting menu profile links */
.profiles a {
    display: inline-block;
    padding: 10px 15px;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color: white;
}

/* if cursor hovers change background color */
.profiles:hover {
    background-color: rgb(215, 64, 40);
}

/* container for team's bios */
.about-block {
    display: flex;
}

/* bios list formatting*/
.about-block li {
    list-style-type: none;
    padding: 25px;
    background-color: lightgray;
}

/* contact information list for each bio */
.contact-item {
    display: block;
    width: 300px;
    border: 10px solid rgb(215, 64, 40);
    box-shadow: 10px 10px;
    text-align: center;
}

/* formatting for bio text */
.about-info {
    padding-left: 50px;
    padding-right: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    line-height: 30px;
}

/* container for text describing the film */
.about-film {
    background-color: rgb(215, 64, 40);
    border: 15px solid white;
    color: white;
}

/* formatting text describing the film */
.about-film-body {
    padding-left: 100px;
    padding-right: 120px;
    padding-bottom: 50px;
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    line-height: 50px;
}

/* container for film techniques used */
.technique-list {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}

/* formatting list of film techniques used */
.technique-list li {
    list-style-type: none;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    background-color: lightgray;
}

/* formatting film technique list text items */
.technique-item {
    border: 15px solid white;
    font-size: larger;
}

/* technical details list container */
.technical-details {
    border: 15px solid white;
    background-color: lightgray;
    text-align: center;
}

/* formatting technical details list text items */
.tdItem {
    margin-bottom: 30px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgray;
    color: lightgray;
}

/* slideshow container */
.slideshow-container {
    max-width: 950px;
    position: relative;
    margin: auto;
}

/* hide the images by default */
.mySlides {
    display: none;
}

/* next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* position "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* add slight transparent orange background color on hover */
.prev:hover,
.next:hover {
    background-color: rgba(215, 64, 40, 0.8);
}

/* image caption text */
.text {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: lightblue;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: rgb(35, 35, 133);
}

/* fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* "TAKE ME BACK UP" link at the end of every page */
.top-link {
    padding-left: 550px;
    padding-right: 550px;
    text-align: center;
}

/* footer formatting with nyuad logo */
#footer-color {
    display: block;
    background-color: lightgray;
    margin-top: 20px;
}
